<IfModule mod_rewrite.c>
    RewriteEngine On

    # Allow HTTP requests from IoT devices
    RewriteCond %{HTTP_USER_AGENT} Arduino [NC]
    RewriteRule ^ - [L]

    # Otherwise redirect all non-Arduino traffic to HTTPS
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>
